<ol id="chat-hero-messages" hidden>
  <li data-side="user"                                       data-time="21:33">Hola, buenas noches, atienden el sabado?</li>
  <li data-side="bot"  data-typing="450"                     data-time="21:34">Hola.</li>
  <li data-side="bot"  data-wait="220"  data-typing="500"    data-time="21:35">Sí, atendemos los sábados de 8:30 a 19:00.</li>
  <li data-side="user" data-wait="320"                       data-time="21:35">cuanto cuesta el servicio, estoy por la virgen de lujan 8 anillo</li>
  <li data-side="bot"  data-typing="550"                     data-time="21:36">Para poder cotizarte, podrías compartirnos tu ubicación por favor?</li>
  <li data-side="user" data-wait="320"                       data-time="22:15">ok, le pasaré</li>
  <li data-side="user" data-wait="150"                       data-time="22:15">deme un momento que llegue</li>
  <li data-side="bot"  data-typing="400"                     data-time="22:16">De acuerdo, quedo atento.</li>
  <li data-side="user" data-wait="380"  data-location="true" data-forwarded="true" data-time="22:17"></li>
  <li data-side="bot"  data-typing="350"                     data-time="22:17">Enseguida le doy el precio...</li>
  <li data-side="bot"  data-wait="220"  data-typing="450"    data-time="22:18">El precio del servicio es de USD.53.</li>
</ol>
