# ── Node ──────────────────────────────────────────────────────────────────────
node_modules/
bun.lock

# ── Python ────────────────────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/

# ── Testing ───────────────────────────────────────────────────────────────────
.pytest_cache/
htmlcov/
.coverage

# ── Entorno ───────────────────────────────────────────────────────────────────
.env
